.wrapper {
  background-color: ebebeb;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.top-item {
  display: block;
  margin: auto;
  padding-top: 1rem;
}

.menu-item {
  display: none;
}

.team {
  display: block;
  margin: auto;
}

.footer-main {
  display: block;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #373737;
}

/* .menu-item {
  display: block;
  margin-bottom: 10rem;
  margin-left: 0;
  list-style: none;
  padding-top: 3rem;
} */
