/* This is from 0px to 768px */
.logo {
  padding-top: 10px;
  padding-left: 10px;
  height: 6%;
  float: left;
}

.menu-icon {
  display: block;
  max-height: 3rem;
  float: right;
  right: 0;
  top: 0;
  padding-top: 15px;
  position: absolute;
}

.site-nav {
  padding-top: 5rem;
  background-color: #ededed;
}

.site-nav a {
  display: block;
  color: black;
  padding: 20px 0px 4px 20px;
  text-decoration: none;
  font-size: 15px;
}

.site-nav #my-links {
  display: none;
}

.quick-link {
  display: none;
}

.icon {
  margin-top: -1rem;
}

.top-item-left {
  float: left;
  padding-left: 0.3rem;
  padding-top: 2.5rem;
  font-size: 12px;
}

.top-item-right {
  float: right;
  padding-left: 0.3rem;
  padding-top: 2rem;
  width: auto;
  padding-right: 3rem;
}

.top-item-right input {
  background-image: url(../img/clock\ .png);
  background-repeat: no-repeat;
  background-position: 7.3rem;
  background-size: 0.78rem;
  width: 8.5rem;
  border: 0px;
  box-shadow: 0px 0px 3px grey;
  padding-top: 8px;
}

.top-item-left span {
  background-image: url(../img/up-down.png);
  background-repeat: no-repeat;
  background-position: 9rem;
  background-size: -0.5rem;
  width: 8.5rem;
}

.menu-item li {
  margin: auto;
  padding-bottom: 2rem;
}

.header-banner {
  display: none;
}

.map-part img {
  max-width: 100%;
  height: auto;
}

.map-item {
  background-color: #2d2d2d;
  list-style: none;
}

.map-item li {
  color: white;
  text-align: center;
  margin: auto;
  padding-top: 2.5rem;
  font-size: 20px;
}

.map-part {
  background-color: #2d2d2d;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.map-sub-heading {
  text-align: center;
  color: #7a50a1;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}

.map-heading {
  text-align: center;
  color: white;
}

.map-item p {
  display: none;
}

.laptop-banner img {
  max-width: 100%;
  height: auto;
}

.laptop-item {
  margin-top: -3rem;
}

.laptop-sub-heading {
  text-align: center;
  color: #7a50a1;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  font-size: 5px;
}

.laptop-heading {
  text-align: center;
  color: white;
  font-size: 13px;
}

.team-heading {
  text-align: center;
  color: grey;
  font-size: 25px;
  padding-top: 2.2rem;
}

.team-sub-heading {
  text-align: center;
  color: #7a50a1;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  font-size: 8px;
}

.team-1 {
  background-image: url(../img/profile-1.png), url(../img/profile-backimage.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  height: 14rem;
}

.team-2 {
  background-image: url(../img/profile-2.png), url(../img/profile-backimage.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  margin-top: 3rem;
  height: 14rem;
}

.team-3 {
  background-image: url(../img/profile-3.png), url(../img/profile-backimage.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  margin-top: 3rem;
  height: 14rem;
}

.team-4 {
  background-image: url(../img/profile-4.png), url(../img/profile-backimage.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  height: 14rem;
}

.team-member {
  background-color: #ebebeb;
  list-style: none;
  margin: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.team-member img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10.9rem;
  padding-left: 9.9rem;
  width: 2.3rem;
}

.team-member h5 {
  margin: auto;
  text-align: center;
  padding-top: 2rem;
  padding-left: 2.5rem;
}

.team-member h6 {
  margin: auto;
  text-align: center;
  padding-top: 0.2rem;
  padding-left: 2.5rem;
  color: grey;
}

.blogs {
  background-color: #ededed;
  margin: auto;
  padding-bottom: 2rem;
}
.blog-item {
  margin-top: 43rem;
}

.blog-item #first {
  box-shadow: 0px 0px 3px grey;
  background-color: white;
  margin-bottom: 1rem;
}

.blog-item #second {
  box-shadow: 0px 0px 3px grey;
  background-color: white;
  margin-bottom: 1rem;
}

.blog-item li {
  list-style: none;
  padding-top: 0rem;
}

.blog-item h2 {
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog-item h6 {
  text-align: left;
  color: #7a50a1;
  line-height: 1rem;
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog-item p {
  color: grey;
  font-size: 10px;
  line-height: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.plus {
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: 2rem;
  background-size: auto;
  float: left;
  margin-left: -2rem;
  margin-top: -0.6rem;
  height: 3rem;
  width: 3.9rem;
}

.blog-main {
  margin: auto;
  padding-top: 2rem;
  box-shadow: 0px 0px 3px grey;
  background-color: white;
}

.blog-main h2 {
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog-main h6 {
  text-align: justify;
  color: #7a50a1;
  line-height: 1rem;
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog-main p {
  color: grey;
  font-size: 10px;
  line-height: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog-main .plus {
  margin-top: -2.6rem;
}

.footer-left img {
  padding-top: 10px;
  padding-left: 10px;
  height: 5%;
}

.footer-left p {
  display: none;
}

.footer-link {
  margin: auto;
  color: white;
  list-style: none;
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}

.footer-link li {
  padding-top: 1rem;
}

.footer-item {
  margin: auto;
  color: white;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.footer-item li {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .page-content {
    background-color: #ebebeb;
  }
  .logo {
    height: 4.5rem;
  }

  .menu-icon {
    max-height: 5rem;
    padding-right: 25px;
  }
  .site-nav {
    padding-top: 7rem;
  }
  .site-nav a {
    font-size: 1.5rem;
  }
  .top-item {
    background-color: #ebebeb;
  }

  .top-item-left {
    float: left;
    padding-top: 6rem;
    margin-left: -14.5rem;
    font-size: 19px;
  }
  .top-item-left span {
    background-position: 14rem;
  }

  .top-item-right {
    padding-top: 5.9rem;
    width: 24rem;
  }

  .top-item-right input {
    background-position: 15.5rem;
    background-size: 1.3rem;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 15px;
  }
  .team-member {
    background-color: #ebebeb;
  }
  .blog-item {
    margin-top: 43rem;
  }
  .footer-left {
    width: 50%;
    float: left;
  }

  .footer-right {
    margin-left: 50%;
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding-bottom: 0px;
  }

  .header-banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    margin-left: -1rem;
    padding-right: 1.3rem;
    padding-top: 1rem;
    overflow: hidden;
  }
  .logo {
    height: 5rem;
  }
  .top-item {
    background-color: #ebebeb;
  }

  .top-item-left {
    float: left;
    padding-top: 6rem;
    margin-left: -19rem;
  }

  .top-item-right {
    padding-top: 5.9rem;
    padding-right: 10rem;
  }

  .header-image {
    position: relative;
    top: 0;
    left: 0;
  }

  .message {
    position: absolute;
    top: 242px;
    left: 530px;
  }

  .circle {
    position: absolute;
    top: 200px;
    left: 490px;
  }

  .map-part {
    margin: auto;
    padding-top: 3rem;
  }

  .team {
    height: auto;
  }

  .team-member::after {
    content: "";
    clear: both;
    display: table;
  }
  .team-1 {
    float: left;
    width: 33.33%;
  }
  .team-2 {
    margin: auto;
    float: left;
    width: 33.33%;
  }
  .team-3 {
    margin: auto;
    float: left;
    width: 33.33%;
  }
  .team-4 {
    float: left;
    width: 33.33%;
  }

  .blog-item {
    margin-top: 1rem;
  }
  .blog-item #first {
    float: left;
    width: 49%;
  }

  .blog-item #second {
    float: right;
    width: 49%;
    height: 15.9rem;
  }

  .blog-item li {
    display: inline;
  }
  .blog-main {
    clear: both;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    padding-top: 6rem;
  }
  .site-header {
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: white; /*change this */
  }
  .logo {
    height: 9%;
    padding-top: 2rem;
  }
  .top-item {
    margin-top: 1.7rem;
    padding-top: 0;
    float: right;
  }
  .quick-link {
    float: left;
    display: inline-block;
  }
  .quick-link img {
    padding-left: 0.5rem;
    padding-top: 1rem;
  }
  .top-item-left {
    padding-left: 1rem;
    padding-top: 2rem;
    font-size: 10px;
    margin-left: 0px;
  }

  .top-item-left span {
    background-position: 7.6rem;
    background-size: 0.42rem;
    margin-right: 1rem;
  }
  .top-item-right {
    margin: auto;
    padding: 0;
    margin-top: 1.1rem;
  }
  .top-item-right input {
    height: 5%;
  }
  .menu-icon {
    display: none;
  }

  .site-nav {
    float: right;
    padding-top: 3rem;
  }

  .site-nav a {
    display: none;
  }

  .top-header-item {
    background-color: #ededed;
    font-size: 10px;
  }

  .menu-item {
    width: 73.5%;
    display: inline-block;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: -1.9rem;
    z-index: 1;
    position: relative;
  }

  .menu-item li {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 0px 3px grey;
    font-size: 14px;
    margin-left: -0.2rem;
  }
  .li-first {
    width: 16.62%;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 0;
    background-image: url(../img/earth.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border-bottom: 5px solid #701dbb;
    color: grey;
    font-weight: 600;
    opacity: 90%;
  }
  .li-second {
    width: 16.62%;
    text-align: center;
    padding-top: 4rem;
    background-image: url(../img/telegram.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border-bottom: 10px solid #701dbb;
    color: grey;
    font-weight: 600;
  }

  .li-third {
    width: 16.62%;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 0;
    background-image: url(../img/document.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border-bottom: 5px solid #8038c2;
    color: grey;
    font-weight: 600;
    opacity: 90%;
  }
  .li-fourth {
    width: 16.62%;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 0;
    background-image: url(../img/location-menu.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border-bottom: 5px solid #a34ff0;
    color: grey;
    font-weight: 600;
    opacity: 90%;
  }
  .li-fifth {
    width: 16.62%;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 0;
    background-image: url(../img/earth.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border-bottom: 5px solid #8038c2;
    color: grey;
    font-weight: 600;
    opacity: 90%;
  }
  .li-sixth {
    width: 16.62%;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 0;
    background-image: url(../img/document.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border-bottom: 5px solid #701dbb;
    color: grey;
    font-weight: 600;
    opacity: 90%;
  }

  .header-banner {
    margin-left: -0.29rem;
    padding-right: 0;
    margin-top: 0;
  }

  .map-part img {
    width: 67%;
    padding-left: 10rem;
    padding-right: 10rem;
    margin: auto;
    display: block;
  }
  .header-image {
    display: block;
  }
  .page-content {
    width: 100.5%;
  }
  .map-item {
    max-width: 200vh;
    margin-left: 10rem;
  }
  .map-item li {
    display: inline-block;
    width: 30%;
    height: 40%;
    vertical-align: bottom;
    text-align: left;
    padding-right: 1.5rem;
    padding-bottom: 4rem;
  }
  .map-item h6 {
    padding-bottom: 1rem;
    font-size: 20px;
  }
  .map-item p {
    display: inline;
    font-size: 12px;
    width: 30%;
    padding-top: 10rem;
    line-height: 1.3rem;
  }
  .laptop-item {
    margin-top: -7.4rem;
  }
  .laptop-heading {
    font-size: 30px;
    font-weight: 300;
  }
  .laptop-sub-heading {
    font-size: 12px;
    padding-top: 1rem;
  }
  .team {
    padding-top: 4rem;
  }
  .team-heading {
    font-size: 30px;
  }
  .team-sub-heading {
    font-size: 13px;
    color: grey;
    line-height: 1.3rem;
  }

  .team-member::after {
    content: "";
    clear: both;
    display: table;
  }

  .team {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .team-member {
    height: 20rem;
    padding: 0px;
  }
  /* .team-member img {

  } */
  .team-1 {
    float: left;
    width: 23.8%;
    padding: 5px;
  }
  .team-2 {
    float: left;
    width: 23.8%;
    padding: 5px;
  }
  .team-3 {
    width: 23.8%;
    float: left;
    padding: 5px;
  }
  .team-4 {
    float: left;
    width: 23.8%;
    padding: 5px;
    margin: 0 auto;
  }

  .blogs {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .blog-item #second {
    height: 20.55rem;
  }
  .blog-item h2 {
    padding-left: 3rem;
  }
  .blog-item h6 {
    padding-left: 3rem;
    padding-right: 4rem;
    line-height: 1.3rem;
  }
  .blog-item p {
    padding-left: 3rem;
    padding-right: 4rem;
    line-height: 1.3rem;
  }
  .blog-main h2 {
    padding-left: 3rem;
  }
  .blog-main h6 {
    padding-left: 3rem;
    padding-right: 4rem;
    line-height: 1.3rem;
  }
  .blog-main p {
    padding-left: 3rem;
    padding-right: 4rem;
    line-height: 1.3rem;
  }

  .footer-main {
    padding-left: 10rem;
    padding-right: 10rem;
    height: 25rem;
  }
  .footer-left img {
    height: 4rem;
  }
  .footer-left p {
    display: inline-block;
    font-size: 10px;
    line-height: 1.2rem;
    padding-top: 1rem;
    color: #fff;
    width: 25rem;
  }
  .footer-link li {
    display: inline-block;
    padding-top: 0rem;
    font-size: 10px;
    padding-right: 7px;
  }
  .footer-link {
    padding-top: 2rem;
    float: left;
    text-align: left;
  }
  .footer-left .last-one {
    font-size: 9px;
    line-height: 0.8rem;
    color: grey;
  }
  .footer-item li {
    display: inline-block;
    font-size: 11px;
    padding-right: 3rem;
  }
}
