.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1425px;
}

.header-top-layout,
.main-body-layout,
.footer {
  overflow: hidden;
  max-width: 58.625em;
  margin: 0 auto;
}

/* Header */

.header-top {
  background-color: #7dd9e8;
  max-width: 100%;
  overflow: hidden;
}

.profile {
  float: right;
  margin-top: 28px;
}

.name {
  text-align: right;
  text-transform: capitalize;
}

/* Bottom Header */

.bottom-header {
  background-color: #f5f5f5;
  overflow: hidden;
  height: 39.5px;
  max-width: 100%;
}

.bottom-header-itemR {
  float: right;
  margin-top: 13px;
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 7rem;
}

.bottom-header-itemL {
  margin-left: auto;
  margin-right: auto;
  float: left;
  font-size: 14px;
  margin-bottom: 10px;
  clear: both;
  padding-left: 16.5%;
}

/* Main */

.main-body {
  clear: both;
  overflow: hidden;
}

.main-body-layout {
  height: 667px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 32px;
}

/* Left Bar */

.left-bar {
  float: left;
  margin-top: 30px;
}

.recent-searches {
  height: 615px;
  background-color: #f5f5f5;
}

.recent-searches-header-up {
  background-color: #2fc1da;
  color: white;
  line-height: 42px;
  padding: 0 11px;
  font-size: 16px;
}

.recent-searches-header-down {
  background-color: #2fc1da;
  color: white;
  line-height: 42px;
  padding: 0 11px;
  font-size: 13px;
}

.recent-searches-header-right {
  background-color: #2fc1da;
  color: white;
  line-height: 42px;
  padding: 0 11px;
  font-size: 13px;
}

.recent-searches-header-up:hover ~ .recent-searches-item {
  display: block;
}

.recent-searches-header-right:hover ~ .recent-searches-item-right {
  display: block;
}

.recent-searches-item {
  width: 194px;
  background-color: #f5f5f5;
}

.recent-searches-item-right {
  background-color: #f5f5f5;
  width: 194px;
  float: left;
  display: none;
}

/* Center Bar */

.content {
  margin-left: 2rem;
  margin-top: 2rem;
}

.center-bar {
  float: right;
  max-width: 37.72rem;
  height: 100%;
}
.center-title {
  font-size: 24pt;
  padding-bottom: 9px;
  font-weight: 400;
}

.menu {
  height: 11%;
  text-align: center;
}

.all-entries-menu {
  width: 16.1875rem;
  float: left;
  background-color: #f5f5f5;
  margin-right: 2px;
}
.menu-heading {
  padding: 12px 0;
  font-size: 10pt;
}

.sub-menu-left {
  height: 28px;
  float: left;
  width: 115px;
  margin-left: 10px;
  margin-right: 5px;
  background-color: #2fc1d8;
}

.sub-menu-right {
  height: 28px;
  float: right;
  width: 115px;
  margin-right: 10px;
  background-color: #dddddd;
}
.subscribe_menu {
  float: right;
  background-color: #f5f5f5;
}

.post {
  float: left;
  padding: 0 10px;
  overflow: hidden;
  height: 100%;
}

.post-topic-box {
  font-size: 11px;
  color: #707070;
  padding-top: 6px;
  float: left;
}

.post-meta {
  padding-top: 4px;
  font-size: 11px;
  color: #707070;
}

.post-title {
  padding-top: 3px;
  padding-right: 6px;
  font-size: 15px;
}

/* Right Bar */

.right-bar {
  background-color: white;
  float: right;
  width: 197px;
  height: 606px;
  margin-left: 24px;
}

.video-tutorials {
  background-color: #f5f5f5;
  height: 615px;
  float: right;
  max-width: 100%;
}

/* Footer */

.footer-main {
  max-width: 100%;
  background-color: #727272;
}

.footer {
  height: 50px;
}

.copyright {
  float: right;
  color: #fff;
  padding: 19px 2px;
  font-size: 11px;
}

.footer-item {
  float: left;
  color: #ffffff;
  padding: 19px 2px;
}

@media (min-width: 768px) {
  .container {
    min-width: 48em;
  }
  .right-bar {
    float: right;
    width: 24.4105409%;
    margin-left: 2.376033057%;
  }
  .center-bar {
    float: right;
    width: 72.1220527%;
  }
  .recent-searches-item {
    display: block;
  }
  .copyright {
    float: right;
  }
  .recent-searches-item-right {
    display: block;
  }
  .recent-searches-item {
    display: none;
  }
}

@media (min-width: 1002px) {
  .container {
    min-width: 62.625em;
  }

  .header-top-layout,
  .main-body-layout,
  .footer {
    overflow: hidden;
    width: 58.625em;
    margin: 0 auto;
  }
  .left-bar {
    float: left;
    width: 20.7%;
    margin-right: 2.376033057%;
  }
  .right-bar {
    float: right;
    width: 20.7%;
    margin-left: 2.376033057%;
  }
  .center-bar {
    float: left;
    width: 56.57%;
  }
  .recent-searches-item {
    display: block;
  }
  .recent-searches-item-right {
    display: block;
  }
  .recent-searches-header-down {
    display: block;
  }
  .profile {
    float: right;
    text-align: end;
  }
  .bottom-header-itemR {
    float: right;
    width: 32.192411%;
  }
  .copyright {
    float: right;
  }

  .burger-menu {
    display: none;
  }
  .search-box-icon {
    display: none;
  }
}

/* @media (max-width: 768px) {
  .bottom-header,
  .footer-main {
    margin-left: 0px;
    margin-right: auto;
    clear: both;
    width: 50%;
    padding-left: 0px;
  }
  .bottom-header-itemR {
    float: left;
  }
  .bottom-header-itemL {
    float: left;
  }
  .bottom-header-itemL ul li {
    margin-right: 8px;
  }
  .bottom-header-itemL p {
    font-size: 10px;
  }
  .bottom-header-itemR p {
    font-size: 10px;
  }
  .footer-item {
    float: left;
  }
  input {
    clear: both;
  }}*/
