ul li a {
  text-decoration: none;
}
ul {
  list-style-type: disc;
}
.clearfix {
  overflow: auto;
}
/* search*/
.logo {
  background-image: url(../img/TuTangle.png);
  background-repeat: no-repeat;
  background-position: center;
  float: none;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.search {
  float: left;
  margin-top: 40px;
  margin-right: 10px;
  background-color: #caeff7;
  overflow: hidden;
  height: 20px;
  display: none;
}
.search a {
  display: block;
}
.search-box-icon {
  float: right;
  padding-right: 10px;
  display: block;
  height: 20px;
  margin-top: -10px;
}

.search-barL {
  background-image: url(../img/searchBox-L.png);
  background-position: top left;
  background-repeat: no-repeat;
  height: 20px;
}
.search-barR {
  background-image: url(../img/searchBox-R.png);
  background-position: top right;
  background-repeat: no-repeat;
  height: 20px;
}
input {
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 237px;
  background: transparent;
  font-size: 9pt;
  height: 20px;
}
.search-button {
  background-color: #264f55;
  float: left;
  width: 65px;
  margin-top: 40px;
  display: none;
}
.search-btnL {
  background-image: url(../img/search-L.png);
  background-position: top left;
  background-repeat: no-repeat;
}
.search-btnR {
  background-image: url(../img/search-R.png);
  background-position: top right;
  background-repeat: no-repeat;
  font-size: 9pt;
  text-align: center;
  height: 20px;
}
.search-btnR a {
  color: white;
  display: block;
  padding: 3px 5px 1px 8px;
  text-decoration: none;
}
/*profile*/
.profile ul li a:hover {
  color: #ffffff;
}
.profile ul li a {
  color: #000000;
}
.home ul {
  line-height: 15px;
  list-style-type: none;
}
/* .home ul li {
  float: left;
  width: auto;
  font-size: 13px;
  padding-left: 4px;
  padding-top: 5px;
} */
.home ul li {
  display: inline-block;
  width: auto;
  font-size: 13px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 5px;
  /* padding: 5px;
  font-size: 8pt; */
}
/*bottom header */

.bottom-header-itemL {
  display: none;
  position: absolute;
  background-color: #dddddd;
  margin-left: 40px;
}
.bottom-header-itemL ul li {
  margin-top: 16px;
  margin-bottom: 15px;
  list-style-type: none;
  margin-right: 32px;
  font-size: 11pt;
  display: block;
}
.bottom-header-itemL ul li a {
  text-decoration: none;
  color: #000000;
}
.bottom-header-itemL ul li a:hover {
  color: #caeff7;
}
.bottom-header-itemR ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

.bottom-header-itemR ul li:first-child {
  background-image: url(../img/topic-boxes-image.png);
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 16px;
  margin-left: 10px;
}
.bottom-header-itemR ul li:last-child {
  background-image: url(../img/user.png);
  background-repeat: no-repeat;
  display: inline-block;
  color: grey;
  padding-left: 22px;
  margin-left: 10px;
}
/*recent searches */
.recent-searches-item ul li {
  list-style-type: none;
}
.recent-searches-item-right ul li {
  list-style-type: none;
}
.recent-searches-item ul li a span {
  padding-right: 18px;
  width: 80%;
  display: inline-block;
  font-size: 12px;
  color: #000;
  width: 80%;
  font-size: 9pt;
}
.recent-searches-item-right ul li a span {
  padding-right: 18px;
  width: 80%;
  display: inline-block;
  font-size: 12px;
  color: #000;
  width: 80%;
  font-size: 9pt;
}
.recent-searches-item ul li a {
  display: block;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.recent-searches-item-right ul li a {
  display: block;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.recent-searches-item ul li a:hover {
  background-color: #ffffff;
}
.recent-searches-item-right ul li a:hover {
  background-color: #ffffff;
}
.recent-searches-item ul li a img {
  float: right;
  padding: 2px;
}
/*main*/
.main-entries {
  border-bottom: 2px solid #2fc1da;
}
.curveL {
  background-image: url(../img/all_entriesL.png);
  background-position: top left;
  background-repeat: no-repeat;
}
.curveL a {
  font-size: 8pt;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
.curveR a {
  font-size: 8pt;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
.curveR {
  background-image: url(../img/all_entriesR.png);
  background-position: top right;
  background-repeat: no-repeat;
}
.memberCurveL {
  background-image: url(../img/memberCurveL.png);
  background-position: top left;
  background-repeat: no-repeat;
}
.memberCurveR {
  background-image: url(../img/memberCurveR.png);
  background-position: top right;
  background-repeat: no-repeat;
}
.sub-menu-inactiveR {
  background-image: url(../img/submenu_inactiveCurveR.png);
  background-position: top right;
  background-repeat: no-repeat;
}
.sub-menu-inactiveL {
  background-image: url(../img/submenu_inactiveCurveL.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.post-content ul li {
  padding-top: 15px;
  border-bottom: #d8d8d8 solid 1px;
  height: 15%;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  float: left;
}

.post div a:hover {
  color: #8ee4f3;
}
.post-type a {
  color: #2e9db0;
  font-size: 10px;
  font-weight: bold;
}
.post-type.alert a {
  color: #d53f1c;
}

.post-meta span {
  display: inline-block;
}
.author-name a {
  color: #2e9db0;
  font-weight: bold;
}
.subscribed a {
  color: #709720;
  font-weight: bold;
}
.post-content ul li img {
  float: left;
}
.post-topic-box a {
  color: #707070;
}
.post-topic-box span {
  display: inline-block;
}

/*footer*/

.footer-item ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
}

.footer-item ul li {
  background-position: 0;
  width: auto;
  font-weight: bold;
  float: left;
  padding-left: 10px;
  /* padding: 0px 7px; */
}

.footer-item ul li:first-child {
  background: none;
}
.footer-item ul li a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1002px) {
  .search {
    display: block;
  }
  .search-button {
    display: block;
  }
  .logo {
    float: left;
    margin-bottom: 16px;
    width: 24.880597%;
    margin-right: 25px;
  }
  .bottom-header-itemL ul li {
    float: left;
    margin-top: 16px;
    margin-bottom: 15px;
    list-style-type: none;
    margin-right: 32px;
    font-size: 11pt;
    background: transparent;
  }
  .bottom-header-itemL {
    display: block;
    background: transparent;
    margin-left: 0%;
  }
}
